.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  padding: 0.5rem 0;
  padding-bottom: 1.5rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  --grid-cols: 8;
  overflow: hidden;
}

.cards .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: 1.6rem 1.2rem;
}

.cards .wrapper .card {
  display: grid;
  grid-template-columns: 1fr;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.cards .wrapper .card .card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-color);
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  overflow: hidden;
  aspect-ratio: 3 / 2;
}

.cards .wrapper .card .card-icon svg {
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--svg-color);
}


.type-color {
  color: var(--svg-color);
}

/* .cards .card-icon.type-no-color{} */


.type-fill {
  fill: var(--svg-color);
}

.type-stroke {
  stroke: var(--svg-color);
}

.type-fill-stroke {
  fill: var(--svg-color);
  stroke: var(--svg-color);
  color: var(--svg-color);
}

.type-color-fill {
  color: var(--svg-color);
  fill: var(--svg-color);
}

.type-color-fill-stroke {
  color: var(--svg-color);
  fill: var(--svg-color);
  stroke: var(--svg-color);
}

.type-fill-stroke-force {
  fill: var(--svg-color);
  stroke: var(--svg-color) !important;
}

.type-fill-stroke-force * {
  stroke: var(--svg-color) !important;
}

.type-special-cls .cls-1 {
  fill: #fff;
  opacity: 0;
}

.type-special-cls .cls-2 {
  fill: var(--svg-color);
}

.cards .wrapper .card:hover {
  --svg-color: var(--hover-color);
}



.cards .wrapper .card .card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  height: 2rem;
  font-size: 0.71rem;
  margin: 0.3rem 0;
  color: var(--secondary-color);
  overflow: hidden;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards .card:hover .card-name {
  color: var(--hover-color);
}


@media screen and (min-width: 1921px) {
  .cards {
    --grid-cols: 12;
  }
}


@media screen and (max-width: 1920px) {
  .cards {
    --grid-cols: 9;
  }
}


@media screen and (max-width: 1440px) {
  .cards {
    --grid-cols: 8;
  }
}


@media screen and (max-width: 1380px) {
  .cards {
    --grid-cols: 8;
  }
}


@media screen and (max-width: 1023px) {
  .cards {
    --grid-cols: 6;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    --grid-cols: 5;
  }
}


@media screen and (max-width: 600px) {
  .cards {
    --grid-cols: 5;
  }

  .cards .wrapper {
    gap: 1rem 0.8rem;
  }
}


@media screen and (max-width: 500px) {
  .cards {
    --grid-cols: 4;
  }

}


@media screen and (max-width: 331px) {
  .cards {
    --grid-cols: 3;
  }

}