@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dark,
    [data-kb-theme="dark"] {
        --hue: 220;
        --bg-saturation: 10%;

        --background: var(--hue) var(--bg-saturation) 9%;
        --foreground: var(--hue) 0% 98%;

        --muted: var(--hue) var(--bg-saturation) 15.9%;
        --muted-foreground: var(--hue) 5% 64.9%;

        --accent: var(--hue) var(--bg-saturation) 15.9%;
        --accent-foreground: var(--hue) 0% 98%;

        --popover: var(--hue) var(--bg-saturation) 3.9%;
        --popover-foreground: var(--hue) 0% 98%;

        --border: var(--hue) var(--bg-saturation) 15.9%;
        --input: var(--hue) var(--bg-saturation) 15.9%;

        --card: var(--hue) var(--bg-saturation) 3.9%;
        --card-foreground: var(--hue) 0% 98%;

        --primary: var(--hue) var(--bg-saturation) 98%;
        --primary-foreground: var(--hue) 5.9% 10%;

        --secondary: var(--hue) var(--bg-saturation) 15.9%;
        --secondary-foreground: var(--hue) 0% 98%;

        --destructive: var(--hue) 62.8% 30.6%;
        --destructive-foreground: var(--hue) 0% 98%;

        --info: 204 94% 94%;
        --info-foreground: 199 89% 48%;

        --success: 149 80% 90%;
        --success-foreground: 160 84% 39%;

        --warning: 48 96% 89%;
        --warning-foreground: 25 95% 53%;

        --error: 0 93% 94%;
        --error-foreground: 0 84% 60%;

        --ring: var(--hue) 91% 72%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    html,
    body {
        color-scheme: dark light;
        font-feature-settings: "rlig" 1, "calt" 1;
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .autofit-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--col-size, 15rem), 1fr));
    }
}

@media (max-width: 640px) {
    .container {
        @apply px-4;
    }
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    border: 4px solid transparent;
    background-clip: content-box;
    @apply bg-accent;
}

::-webkit-scrollbar-corner {
    display: none;
}
